<?xml version="1.0"?>
<robot name="sanjiaojia" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="M_PI" value="3.1415926535897931"/>
  <xacro:property name="mass" value="2" /> <!-- arbitrary value for mass -->
  <xacro:property name="length" value="1.337" /> 
  <xacro:property name="width" value="0.787" /> 
  <xacro:property name="height" value="0.03" /> 

  <xacro:include filename="$(find object_description)/urdf/materials.xacro" />

  <link name="world"/>

  <joint name="sanjiaojia" type="fixed">
    <parent link="world"/>
    <child link="sanjiaojia"/>
    <origin xyz="0 0 0" rpy="${M_PI} 0 0"/>
  </joint>

  <!-- Basket link-->
    <link name="sanjiaojia">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://object_description/meshes/sanjiaojia.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="white" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://object_description/meshes/sanjiaojia.stl" scale="0.001 0.001 0.001" />
        </geometry>
      </collision>


    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="2"/>
      <inertia
	  ixx="${mass / 12.0 * (width*width + height*height)}" ixy="0.0" ixz="0.0"
	  iyy="${mass / 12.0 * (height*height + length*length)}" iyz="0.0"
	  izz="${mass / 12.0 * (length*length + width*width)}"/>
    </inertial>
  </link>

  <gazebo reference="sanjiaojia">  
    <material>Gazebo/Black</material>  
	<mu1>5000</mu1>  
    <mu2>1000</mu2>  
    <kp>10000000.0</kp>   
    <kd>1.0</kd>  
  </gazebo> 
   
</robot>
